button
  background $colors.secondary
  padding $gutter
  border none
  color #fff

button:hover
  background lighten($colors.secondary, 20%)
  cursor pointer

.icon
  width 34px
  height 34px
  display inline-flex
  align-items center
  justify-content center

