legend
  font-size 2em
  font-weight bold

label
  display block
  font-weight bold

input, textarea
  width 100%

.actions-box
  display grid
  grid-template-columns: 200px 200px
  grid-column-gap $gutter
  justify-content end
