.comment-list
  padding 0
  list-style none

  &__item
    margin $gutter*3 0

  &__actions
    padding $gutter
    background $colors.grey

.date
  color darken($colors.grey, 10)

input, textarea
  border none
  display block
  margin-bottom: $gutter*2
  padding $gutter

textarea
  width 100%

